@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 98%;
  max-width: 1400px;
  margin: 0 auto;
}

.products {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding-bottom: 6.5rem;
}
.products__img-group {
  position: relative;
  width: 100%;
}
.products__img-group--svg {
  position: absolute;
  top: -20%;
  left: -40%;
  width: 55rem;
  height: 100%;
  transition: all 0.6s ease-in-out;
  z-index: 3;
}
.products__img-group--svg path {
  transition: all 0.6s ease-in-out;
}
.products__img-group .products__img-group--images {
  position: absolute;
  display: grid;
  place-items: center;
  top: -20%;
  left: -40%;
  width: 54rem;
  height: 100%;
  border-radius: 50%;
  z-index: 4;
  transform-origin: center;
  transition: all 0.8s cubic-bezier(0, 0.08, 0.34, 1.22);
  pointer-events: none;
}
.products__img-group .products__img-group--images .image {
  position: absolute;
  width: 30.5rem;
  transition: all 0.6s ease-in-out;
  opacity: 0;
}
.products__img-group .products__img-group--images .image .main-img {
  width: 100%;
  transition: all 0.6s ease-in-out;
}
.products__img-group .products__img-group--images .image .misc-img {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 8rem;
  transform: rotate(40deg);
  filter: blur(5px);
}
.products__img-group .products__img-group--images .image:nth-child(1) .main-img {
  transform: rotate(calc(1turn / 3 * (-1 + 1)));
}
.products__img-group .products__img-group--images .image:nth-child(2) .main-img {
  transform: rotate(calc(1turn / 3 * (-2 + 1)));
}
.products__img-group .products__img-group--images .image:nth-child(3) .main-img {
  transform: rotate(calc(1turn / 3 * (-3 + 1)));
}
.products__img-group .products__img-group--images .image.current {
  opacity: 1;
}
.products__img-group .products__img-group--images .image:nth-child(1) {
  transform: translate(14rem, 7.5rem);
}
.products__img-group .products__img-group--images .image:nth-child(2) {
  transform: translate(-5rem, -18rem);
}
.products__img-group .products__img-group--images .image:nth-child(2) .main-img {
  width: 130%;
}
.products__img-group .products__img-group--images .image:nth-child(3) {
  transform: translate(-15rem, 7.5rem);
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.products__img-group--text {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 11.5rem;
  color: #fff;
  transform: translateY(-20%);
  overflow: hidden;
  z-index: 4;
}
.products__img-group--text-track {
  display: flex;
  align-items: center;
  width: 34.5rem;
  transition: all 0.6s ease-in-out;
  pointer-events: none;
}
.products__img-group--text-track h1 {
  font-size: 72px;
  padding-right: 0.625rem;
}
.products__details-section {
  position: relative;
  width: 100%;
  margin-top: 10rem;
}
.products__details-section .bg-beside-products {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 192px;
}
.products__details-section .bg-beside-products div {
  height: 4rem;
  width: 100%;
}
.products__details-section .bg-beside-products div:nth-child(odd) {
  background-color: #f7f7f7;
}
.products__details-section .bg-beside-products div:nth-child(even) {
  background-color: #fdfdfd;
}
.products__details-section--heading {
  font-size: 55px;
  margin-bottom: 3.8rem;
  font-weight: 400;
}
.products__details-section--slider-group {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
.products__details-section--product {
  flex-grow: 1;
}
.products__details-section--track {
  width: 300%;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  overflow-x: hidden;
  transition: all 0.6s ease-in-out;
}
.products__details-section--slide {
  width: 100%;
  opacity: 1;
}
.products__details-section--slide .slide-items {
  position: relative;
  width: 100%;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.6rem;
}
.products__details-section--slide .slide-items:nth-child(odd) {
  background-color: #f7f7f7;
}
.products__details-section--slide .slide-items:nth-child(even) {
  background-color: #fdfdfd;
}
.products__details-section--slide .slide-items .product-name {
  width: 30%;
}
.products__details-section--slide .slide-items .product-img {
  width: 3rem;
  height: 3rem;
  margin-right: 4rem;
}
.products__details-section--slide .slide-items .product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__details-section--number {
  z-index: 5;
  flex-grow: 1;
}
.products__details-section--number h4 {
  padding: 0 1rem;
}
.products__details-section--number .add__icon-group {
  margin-top: 1.5rem;
}
.products__details-section--number .add__icon-group .icon {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
}
.products__details-section--number .add__icon-group .icon:nth-child(odd) {
  background-color: #f7f7f7;
}
.products__details-section--number .add__icon-group .icon:nth-child(even) {
  background-color: #fdfdfd;
}

.buttons-container {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-40%) translateY(-1.5rem);
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  z-index: 5;
  box-shadow: 6px 10px 18px rgba(0, 0, 0, 0.04);
}
.buttons-container .nav-btn {
  background: #555;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 0.8rem;
}
.buttons-container .nav-btn img {
  width: 55%;
}
.buttons-container .misc-btn-group {
  margin: 0 1.6rem;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.buttons-container .misc-btn-group button {
  width: 2.6rem;
  opacity: 0.7;
}
.buttons-container .misc-btn-group button:not(:last-child) {
  margin-right: 1.8rem;
}
.buttons-container .misc-btn-group .button-icon {
  width: 100%;
}
.buttons-container .misc-btn-group .pencil {
  width: 70%;
}
.buttons-container .misc-btn-group .user {
  width: 85%;
}

.footer {
  margin-top: -6.5rem;
  padding: 6rem 2rem 3rem;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer .icons-group {
  display: flex;
  align-items: center;
}
.footer .icon {
  position: relative;
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  transition: all 0.6s ease;
  border-radius: 1.5rem;
}
.footer .icon.current {
  background-color: #eee;
}
.footer .icon:not(:last-child) {
  margin-right: 5rem;
}
.footer .icon:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -5rem;
  transform: translate(-50%);
  width: 65%;
  height: 0.1rem;
  background-color: #aaa;
  pointer-events: none;
}
.footer .icon img {
  width: 60%;
  pointer-events: none;
}

@media screen and (max-width: 82.8125rem) {
  .products__img-group--svg {
    width: 49rem;
  }
  .products__img-group .products__img-group--images {
    width: 48rem;
  }
  .products__img-group .products__img-group--images .image {
    width: 26rem;
  }
  .products__img-group--text {
    left: 10%;
  }
  .products__details-section {
    width: 100%;
    margin-top: 10rem;
  }
  .products__details-section--slide .slide-items .product-name {
    width: 25%;
  }
  .products__details-section--slide .slide-items .product-img {
    margin-right: 2.7rem;
  }

  .buttons-container {
    transform: translateX(-40%) translateY(-1.5rem);
  }
}
@media screen and (max-width: 75rem) {
  .products__img-group--svg {
    top: -10%;
    width: 40rem;
  }
  .products__img-group .products__img-group--images {
    left: -35%;
    width: 39rem;
  }
  .products__img-group .products__img-group--images .image {
    width: 24rem;
  }
  .products__img-group .products__img-group--images .image:nth-child(1) {
    transform: translate(12rem, 7.5rem);
  }
  .products__img-group .products__img-group--images .image:nth-child(2) {
    transform: translate(-4rem, -12rem);
  }
  .products__img-group .products__img-group--images .image:nth-child(2) .main-img {
    width: 125%;
  }
  .products__img-group .products__img-group--images .image:nth-child(3) {
    transform: translate(-12rem, 7.5rem);
  }
  .products__img-group--text {
    width: 8.8rem;
  }
  .products__img-group--text-track {
    width: 26.4rem;
  }
  .products__img-group--text-track h1 {
    font-size: 55px;
    padding-right: 0.4782608696rem;
  }
  .products__details-section {
    width: 90%;
  }
}
@media screen and (max-width: 71.5625rem) {
  .products__img-group--svg {
    top: -20%;
    width: 36rem;
  }
  .products__img-group .products__img-group--images {
    left: -35%;
    width: 34rem;
  }
  .products__img-group .products__img-group--images .image {
    width: 20rem;
  }
  .products__img-group .products__img-group--images .image:nth-child(1) {
    transform: translate(9.5rem, 8rem);
  }
  .products__img-group .products__img-group--images .image:nth-child(2) {
    transform: translate(0rem, -13rem);
  }
  .products__img-group .products__img-group--images .image:nth-child(3) {
    transform: translate(-10rem, 7rem);
  }
}
@media screen and (max-width: 65.625rem) {
  .container {
    width: 96%;
  }

  .products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products__img-group {
    display: grid;
    place-items: center;
    width: 100%;
    height: 530px;
  }
  .products__img-group--svg {
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 42rem;
    height: auto;
  }
  .products__img-group .products__img-group--images {
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 42rem;
    height: 100%;
  }
  .products__img-group .products__img-group--images .image {
    width: 24rem;
  }
  .products__img-group--text {
    left: 32%;
    width: 10.1rem;
  }
  .products__img-group--text-track {
    width: 30.3rem;
  }
  .products__img-group--text-track h1 {
    font-size: 64px;
    padding-right: 0.505rem;
  }
  .products__details-section {
    width: 100%;
    margin-top: 3rem;
  }
  .products__details-section--heading {
    font-size: 48px;
    margin-bottom: 3.5rem;
  }
  .products__details-section--slide .slide-items {
    height: 4.5rem;
    padding-left: 0.9rem;
  }
  .products__details-section--slide .slide-items .product-img {
    width: 2rem;
    height: 2rem;
    margin-right: 4.5rem;
  }
  .products__details-section--number h4 {
    padding-right: 1rem;
  }
  .products__details-section--number .add__icon-group .icon {
    height: 4.5rem;
  }

  .buttons-container {
    position: relative;
    left: 0;
    bottom: 0;
    transform: translateX(0%) translateY(0%);
  }
  .buttons-container .nav-btn {
    width: 3.5rem;
    height: 3.1rem;
  }
  .buttons-container .nav-btn i {
    font-size: 1.6rem;
  }
  .buttons-container .misc-btn-group {
    margin: 0 2.3rem;
  }
  .buttons-container .misc-btn-group button i {
    font-size: 1.5rem;
    color: #bbb;
  }

  .footer {
    padding: 4rem 2rem 2rem;
    background-color: #f7f7f7;
  }
  .footer .icon {
    width: 3.8rem;
    height: 3.8rem;
    padding: 0.1rem;
  }
}